@import "open-color.css";
@import "author-layout.css";
@import "post-layout.css";
@import "post-content.css";

* {
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: inherit;
}

body, html {
	width: 100%;
	height: 100%;

	/* Typography & Style */
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.25px;
}

body {
	background-color: var(--oc-gray-0);
}

h1 {
	font-size: 28px;
	font-weight: 300;
	line-height: 40px;
}
.blog-title, .post-title, .author-name {
	line-height: 24px;
}
h2 {
	font-size: 21px;
	font-weight: 500;
	line-height: 32px;
}
h3, h4, h5, h6 {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
a {
	text-decoration: none;
}






/* THE LOOP OR PAGE VIEW */
.blog-title {
	color: #000000;
}
.blog-logo {
	max-width: 256px;
	max-height: 64px;
	margin: 16px auto 0;
	display: block;
}
.sidebar-section {
	padding: 32px 0;
	border-bottom: 1px solid var(--oc-gray-5);
}
.sidebar-section:last-child {
	padding: 32px 0 16px;
	border-bottom: none;
}

.navigation ul {
	list-style: none;
}
.pagination {
	color: var(--oc-gray-5);
	margin-bottom: 64px;
}

a {
	color: inherit;
	-o-transition:      0.35s;
	-ms-transition:     0.35s;
	-moz-transition:    0.35s;
	-webkit-transition: 0.35s;
	transition:         0.35s;
}
a:hover {
	color: var(--oc-gray-9);
}

#site-footer {
	line-height: 16px;
	font-size: 12px;
}


/* Large */
@media screen and (min-width: 960px) {
	body {
		padding: 0 64px;
	}
	.site-wrapper {
		width: inherit;
		position: relative;
		height: 100%;
	}
	.content {
		width: calc(100% - 288px);
		min-height: 100%;
		position: absolute;
		right: 0;
		padding: 0;
	}
	.sidebar {
		width: 256px;
		position: fixed;
		height: 100%;
		padding: 64px 0;
		color: var(--oc-gray-6);
	}
	#site-footer {
		position: absolute;
		bottom: 0;
	}
	.text-header {
		padding-top: 64px;
	}
}

/* Print */
@media print {

}

/* Medium */
@media screen and (min-width: 800px) and (max-width: 959px) {
	body {
		padding: 0 32px;
	}
	.site-wrapper {
		width: inherit;
		position: relative;
		height: 100%;
	}
	.content {
		width: calc(100% - 224px);
		min-height: 100%;
		position: absolute;
		right: 0;
		padding: 0;
	}
	.sidebar {
		width: 192px;
		position: fixed;
		height: 100%;
		padding: 32px 0;
		color: var(--oc-gray-6);
	}
	#site-footer {
		position: absolute;
		bottom: 0;
	}
	.text-header {
		padding-top: 32px;
	}
}

/* Small */
@media screen and (max-width: 799px) {
	.site-wrapper {
		width: inherit;
		position: relative;
		height: 100%;
	}
	.content {
		width: 100%;
		min-height: 100%;
		padding: 0;
	}
	.sidebar {
		width: inherit;
		height: auto;
		padding: 16px 64px 32px;
		color: var(--oc-gray-6);
	}
	.text-header {
		padding-top: 64px;
	}
}
