* {
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: inherit;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.25px;
}

body {
	background-color: #dadfe1;
}

.site-wrapper {
	width: 1080px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}
.extra-pagination {
	background-color: #FF0;
}


.site-footer {
	position: absolute;
	bottom: 0;
	line-height: 16px;
	font-size: 12px;
	padding: 8px 0;
}

.content {
	width: 720px;
	position: absolute;;
	left: 320px;
	padding: 64px 0;
}

.sidebar {
	width: 256px;
	position: fixed;
	height: 100%;
	padding: 64px 0;
	color: #5c6a70;
}

.blog-title {
	border-bottom: 1px solid #c7ced1;
	padding: 32px 0;
}
.blog-description {
	border-bottom: 1px solid #c7ced1;
	padding: 32px 0;

}
.navigation {
	padding-top: 32px;
	border-bottom: 1px solid #c7ced1;
	padding-bottom: 32px;
}
.navigation ul {
	list-style: none;
}
.sidebar a {
	text-decoration: none;
}
a {

	color: inherit;
	-o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 /* ...and now for the proper property */
 transition:0.25s;
}
a:hover { color:#000; }


.post {
	background-color: #FFF;
	border-radius: 6px;
	width: inherit;
	overflow: hidden;
	margin-bottom: 96px;
	-webkit-box-shadow:	0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow:		0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow:					0px 1px 1px 0px rgba(0,0,0,0.1);
	color: #555;
}

.post-text h1 {
	font-size: 28px;
}
.post-text h2 {
	font-size: 21px;
}
.post-text h3, .post-text h4, .post-text h5, .post-text h6 {
	font-weight: 600;
	font-size: inherit;
}
.post-text p {
	margin-bottom: 16px;
}
.post-text blockquote {

}
.post-text code {
}
.post-text img {
	width: 720px;
	margin-left: -64px;
	margin-bottom: 16px;
}
.post-text hr {
	width: 100%;
	background-color: #000;
	height: 1px;
	margin: 64px 0;
}
.post-text pre {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 16px;
}
.post-title {
	margin-bottom: 16px;
}
.post-title a {
		text-decoration: none;
}
.post-excerpt {
	margin-bottom: 16px;
}

.post-image {
	width: inherit;
	height: 320px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.post-text {
	padding: 64px;
}
